In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import gmaps

In [5]:
zip_tract = "Resources/ziptract2010.csv"
data_2010 = "Resources/2010-kcmo-acs2.csv"

In [6]:
# Read the mouse data and the study results
zip_tract = pd.read_csv(zip_tract)
data_2010 = pd.read_csv(data_2010)
# , sep=";"

In [7]:
zip_tract

              TRACT    ZIP
0       36103158607    501
1       36103158607    544
2       72001956300    601
3       72001956600    601
4       72001956700    601
...             ...    ...
145624   2201000200  99925
145625   2201000400  99926
145626   2201000100  99927
145627   2130000100  99928
145628   2280000300  99929

[145629 rows x 2 columns]

In [8]:
zip_tract.dtypes

TRACT    int64
ZIP      int64
dtype: object

In [9]:
data_2010.columns

Index(['STFID Number', 'County', 'Census Tract', 'Population', '% Whites',
       '% African Americans', '% Native Americans', '% Asians',
       '% Pacific Islanders', '% Persons of Other Races',
       '% Persons of More than One Race', 'Hispanics of Any Race',
       '% Hispanics of Any Race', 'Minority Persons', '% Minority Persons',
       'Median Household Income', '% Persons Below Poverty Level',
       'Median Home Value', 'Owner-Occupied Units', 'Renter-Occupied Units',
       '% Owner-Occupied Units', '% Renter-Occupied Units'],
      dtype='object')

In [10]:
# data_2010.dtypes

STFID Number                         int64
County                              object
Census Tract                       float64
Population                           int64
% Whites                           float64
% African Americans                float64
% Native Americans                 float64
% Asians                           float64
% Pacific Islanders                float64
% Persons of Other Races           float64
% Persons of More than One Race    float64
Hispanics of Any Race                int64
% Hispanics of Any Race            float64
Minority Persons                     int64
% Minority Persons                 float64
Median Household Income              int64
% Persons Below Poverty Level      float64
Median Home Value                    int64
Owner-Occupied Units                 int64
Renter-Occupied Units                int64
% Owner-Occupied Units             float64
% Renter-Occupied Units            float64
dtype: object

In [11]:
data_2010 = data_2010.rename(columns={'STFID Number':'TRACT'})

In [12]:
data_2010

,TRACT,County,Census Tract,Population,% Whites,% African Americans,% Native Americans,% Asians,% Pacific Islanders,% Persons of Other Races,...,% Hispanics of Any Race,Minority Persons,% Minority Persons,Median Household Income,% Persons Below Poverty Level,Median Home Value,Owner-Occupied Units,Renter-Occupied Units,% Owner-Occupied Units,% Renter-Occupied Units
0,290959808021,Jackson,9808.02,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0.0,0,0,0,0.0,0.0
1,290470211026,Clay,211.02,768,78.9,9.0,1.0,2.3,2.6,1.4,...,5.3,182,23.7,77412,7.7,127652,202,125,61.8,38.2
2,290959801011,Jackson,9801.01,8,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,8,100.0,0,0.0,0,0,2,0.0,100.0
3,290470202013,Clay,202.01,1335,54.7,14.9,0.7,19.4,2.0,4.0,...,8.6,653,48.9,43704,16.0,100543,170,321,34.6,65.4
4,290950075003,Jackson,75.00,1144,72.0,16.8,0.9,1.5,0.0,6.6,...,5.4,349,30.5,40833,39.0,133036,73,107,40.6,59.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,290950140071,Jackson,140.07,4468,90.6,3.8,0.5,0.6,0.1,1.2,...,5.2,554,12.4,57399,19.6,168382,775,832,48.2,51.8
816,290470213054,Clay,213.05,2256,93.6,2.7,0.1,1.0,0.0,0.9,...,4.9,229,10.2,83580,3.7,145072,756,69,91.6,8.4
817,290470202011,Clay,202.01,997,81.3,3.1,0.8,6.6,2.1,3.7,...,10.7,247,24.8,29357,16.0,89717,284,134,67.9,32.1
818,290950102031,Jackson,102.03,1370,63.5,27.4,0.1,2.8,0.4,3.4,...,5.5,523,38.2,57611,4.5,130970,409,111,78.7,21.3
819,290470202021,Clay,202.02,1832,93.0,2.8,0.2,1.7,0.0,1.1,...,4.5,187,10.2,101774,2.4,245982,759,30,96.2,3.8

In [24]:
merged_df= data_2010.merge(zip_tract, how='outer', on= 'TRACT')

In [25]:
 merged_df.tail()

,TRACT,ZIP,County,Census Tract,Population,% Whites,% African Americans,% Native Americans,% Asians,% Pacific Islanders,...,% Hispanics of Any Race,Minority Persons,% Minority Persons,Median Household Income,% Persons Below Poverty Level,Median Home Value,Owner-Occupied Units,Renter-Occupied Units,% Owner-Occupied Units,% Renter-Occupied Units
146444,2201000100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99927.0
146445,2201000200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99921.0
146446,2201000200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99925.0
146447,2201000400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99926.0
146448,2280000300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99929.0